body{
	margin:0;
	padding:0;
	background:linear-gradient( #400080, transparent),
 linear-gradient(200deg, #d047d1, #ff0000,#ffff00);
 height: 100vh;
}
.text{
	color:white;
}
.insta-blanco{
	width: 194px;
    padding-top: 35px;
    padding-bottom: 13px;
}
.info{
	width: 70%;
}
footer{
	position: absolute;
    padding-top: 223px;
    height: 40px;
    width: 100%;
}






